@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  height: 470px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  padding: 20px;
  drop-shadow: 0 0 20px hsl(0, 0%, 0%);
}
.card > img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  object-fit: cover;
}
.card > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}
.card > p {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
  color: hsl(215, 51%, 70%);
}
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.stats > .stat {
  display: flex;
  align-items: center;
}
.stat > img {
  margin-right: 10px;
}
.stat > p {
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}
.user-info {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.user-info > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.user-info > .user {
  display: flex;
}
.user > p {
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}
.user > .user-name {
  font-size: 15px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-left: 5px;
}
hr {
  border: 0;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
}
.stat > .price {
  color: hsl(178, 100%, 50%);
}
